Temp/
UserSettings/
Library/
Logs/
obj/
Build/
.vs/
.vsconfig
*.csproj
*.sln
/.utmp
*.zip
RuntimeActionBindings.json
RuntimeActionBindings.json.meta
ProjectSettings\Packages\com.unity.testtools.codecoverage\Settings.json
PerformanceTestRun*.*
!NativeSamples.zip
/.idea
.vscode/
*.DS_Store
Assets/Plugins/Vuplex/WebView/Standalone/Mac/Plugins
Assets/Plugins/Vuplex/WebView/Standalone/Windows/Plugins
Assets/CharacterCustomizer.json
Assets/CharacterCustomizer.json.meta
Builds
Assets/StreamingAssets
Assets/StreamingAssets.meta
