Temp/
UserSettings/
Library/
Logs/
obj/
Build/
.vs/
.vsconfig
*.csproj
*.sln
/.utmp
*.zip
RuntimeActionBindings.json
RuntimeActionBindings.json.meta
ProjectSettings\Packages\com.unity.testtools.codecoverage\Settings.json
PerformanceTestRun*.*
!NativeSamples.zip
/.idea
.vscode/
*.DS_Store
Assets/CharacterCustomizer.json
Assets/CharacterCustomizer.json.meta
Builds
Assets/StreamingAssets
Assets/StreamingAssets.meta
Assets/Plugins/Vuplex/WebView/Standalone/Windows/Plugins/VuplexWebViewChromium/libcef.dll
Assets/Plugins/Vuplex/WebView/Standalone/Windows/Plugins/libcef_with_codecs.dll
Assets/Plugins/Vuplex/WebView/Standalone/Mac
Assets/AddressableAssetsData
Assets/Plugins/Vuplex/WebView/Standalone/Windows/Plugins/VuplexWebViewChromium/log-chromium.txt~
